
<h2 style="color:crimson;">Chat</h2>

<% if(mensajes.length > 0){ %>
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;">
                <th>mail</th>
                <th>hora</th>
                <th>mensaje</th>
            </tr>
            <% for (const mensaje of mensajes) {%>
                <tr>
                    <td>
                        <%=mensaje.mail%>
                    </td>
                    <td>
                        <%=mensaje.hora%>
                    </td>
                    <td>
                        <%=mensaje.mensaje%>
                    </td>
                </tr>
                <%};%>
        </table>
    </div>
    <% } else{ %>
        <h3 class="alert alert-danger">no hay mensajes</h3>
    <% } %>