<form action="/chat" method="post" class="mt-4">
    <input type="text" placeholder="Insert Name" name="name" class="form-control my-2">
    <input type="text" placeholder="Insert Last Name" name="lastName" class="form-control my-2">
    <input type="text" placeholder="Insert Mail" name="mail" class="form-control my-2">
    <input type="text" placeholder="Insert Mesagge" name="message" class="form-control my-2">
    <button type="submit" class="btn btn-success w-100 mb-2">Enviar mensaje</button>
</form>