<div class="card">
    <div class="card-body" style="display: flex;">
        <p class="text-bg-success" style="border-radius: 10px;padding: 5px;">{{this.mail}} :</p>
        <p style="margin: 0 0 0 2rem;">{{this.message}}</p> 
        {{!-- <p>hola como estan todos? yo bien aca</p> --}}
    </div>
</div>